<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jhkinfotech" translate="label" sortOrder="10">
            <label>Jhk infotech</label>
        </tab>
        <section id="ticket" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Support Ticket</label>
            <tab>jhkinfotech</tab>
            <resource>Jhkinfotech_Ticket::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_email" type="text" translate="label" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Notification Email</label>
                    <comment>Without "Admin Notification Email" mail system not working.</comment>                    
                    <validate>required-entry</validate>
                </field>
                <field id="display_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Page Title</label>
                    <comment>This title will display on the frontend.</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="jhkinfotech_ticket_front_create" translate="label comment" type="select" sortOrder="1000" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer New Ticket Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="new_ticket_copy_to" translate="label comment" type="text" sortOrder="1001" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send New Ticket Email Copy To</label>
                    <comment>Comma-separated</comment>
                </field>
                
                <field id="jhkinfotech_ticket_front_reply" translate="label comment" type="select" sortOrder="2000" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frontend Reply Message Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="front_reply_copy_to" translate="label comment" type="text" sortOrder="2001" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frontend Reply Message Email Copy To</label>
                    <comment>Comma-separated</comment>
                </field>                

                <field id="jhkinfotech_ticket_reply_admin" translate="label comment" type="select" sortOrder="3000" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Reply Message Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="admin_reply_copy_to" translate="label comment" type="text" sortOrder="3001" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Reply Email Message Copy To</label>
                    <comment>Comma-separated</comment>
                </field>
                
            </group>
        </section>
    </system>
</config>